<div class="cv">
        <h1 class="row">
                <div class="column">
                    📚 Interest
                </div>
                <div class="column">
                    <button type="button" class="btn btn-toggle" data-toggle="button" onclick="toggleLanguage()" id="toggleButton">KOR</button>
                </div>
        </h1>
                        
        
        <h2 class="translation-toggle" data-lang="en"> Mobile App Development </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Swift and UIKit Development </li>
            <li> Health Management Applications </li>
            <li> iOS App Ecosystem </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">모바일 앱 개발</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> Swift와 UIKit 개발 </li>
            <li> 건강 관리 애플리케이션 </li>
            <li> iOS 앱 생태계 </li>
        </ul>

        <h1> 🎓 Education </h1>
        
        <h2 class="translation-toggle" data-lang="en"> Ellen School - 2024.07.01 ~ 2024.09.01 </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Studying Swift, UIKit, Computer Science </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">엘렌 스쿨 - 2024.07.01 ~ 2024.09.01</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> Swift, UIKit, 컴퓨터 과학 학습 </li>
        </ul>
        
        <h1> 🥇 Projects and Awards </h1>
        
        <h2 class="translation-toggle" data-lang="en"> 2024 Korea Multimedia Society Fall Conference </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Research on Social Media Platform Data Collection using Web Crawling and ChatGPT </li>
            <!-- <li> <a href="">Link</a> </li> -->
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">2024 한국멀티미디어학회 추계학술대회</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 웹 크롤링과 ChatGPT를 활용한 소셜 미디어 플랫폼 데이터 수집 연구 </li>
            <!-- <li> <a href="">링크</a> </li> -->
        </ul>
        
        <h2 class="translation-toggle" data-lang="en"> 반창고: Personal Health Management App - 2024.11 ~ </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Developing a comprehensive health management mobile application </li>
            <li> <a href="https://github.com/indextrown/Ban-Chang-Go">Github link</a> </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">반창고: 개인 건강관리 앱 - 2024.11 ~</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 종합 건강관리 모바일 애플리케이션 개발 </li>
            <li> <a href="https://github.com/indextrown/Ban-Chang-Go">Github 링크</a> </li>
        </ul>
</div>
<br>


<!-- <div class="cv_file">
    <button type="button" class="btn btn-outline-primary">
        <a href="https://ddangchani.github.io/assets/cv.pdf">📄 Download CV</a>
    </button>
</div> -->

        
<style>
            body {
                word-break: keep-all;
            }
            h1 {
                /* font-size: 1.5em !important; */
                /* border-bottom: none !important; */
                margin-bottom: 0.5em !important;
        
            }
            h2 {
                padding-left: 0.5em !important;
                font-size: 1.25em;
                font-weight: normal !important;
                border-bottom: none !important;
                margin-top: 0em !important;
                margin-bottom: 0em !important;
            }
            h3 {
                font-size: 1em;
            }
            ul {
                font-size: 0.9em !important;
                margin-top: 0em !important;
            }
        
            ul ul {
                margin-top: 0.5em !important;
                font-size: 0.8em !important; 
                text-indent: 1em !important;
                padding-left: 1em !important;
            }
        
            .word-highlight {
                font-weight: bold;
                font-size: 1em !important;
                display: inline-block;
                position: relative;
                width: fit-content;
            }
        
            .word-highlight::after{
                content: "";
                width: 0; /* Initially, the highlight starts with no width */
                height: 100%;
                background-color: rgba(155,251,225,0.5);    
                position: absolute;
                left: 0;
                transition: width 0.3s ease-in-out; /* Transition width property */
                pointer-events: none;
                z-index: -1;
        }
        
        .intro {
            cursor: pointer;
        }
        
        .intro:hover .word-highlight::after {
            width: 100%;
        }

        .cv .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 0.1em !important;

            .btn-toggle {
                font-size: 0.8em;
                padding: 0.25em 0.5em;
                font-style: normal;
                font-weight: 600;
                background-color: #fff;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(155,251,225,0.5);
                }

            }
        }

        .cv_file {
            text-align: center;
            margin-top: 3em;

            .btn {
                font-size: 0.8em;
                padding: 0.25em 0.5em;
                font-style: normal;
                font-weight: 600;
                background-color: #fff;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(155,251,225,0.5);
                    color: black;
                    text-decoration: none !important;
                }
            }
        }
        
</style>

<script>

        var currentLanguage = 'en';

        function toggleLanguage() {
            var elements = document.querySelectorAll('.translation-toggle');
            var button = document.getElementById('toggleButton');
                
                if (currentLanguage == 'en') {
                        elements.forEach(function(element) {
                        element.style.display = 'none';
                        });
                        elements = document.querySelectorAll('[data-lang="ko"]');
                        elements.forEach(function(element) {
                        element.style.display = 'block';
                        });
                        currentLanguage = 'ko';
                        button.innerHTML = 'ENG';

                } else {
                        elements.forEach(function(element) {
                        element.style.display = 'none';
                        });
                        elements = document.querySelectorAll('[data-lang="en"]');
                        elements.forEach(function(element) {
                        element.style.display = 'block';
                        });
                        currentLanguage = 'en';
                        button.innerHTML = 'KOR';
                }
        }
</script>